{% extends 'base.html.twig' %}

{% block pageTitle %}
    {% if participant.pseudo %}
    <h2> {{ participant.pseudo }}</h2>
    {% else  %}
    <h2>{{ participant.firstName | capitalize }} {{ participant.lastName | first |upper }}.</h2>
    {% endif %}
{% endblock %}

{% block body %}

   {% if participant.photo %}
    <<img src="{{ asset('img/photoParticipant/'~ participant.photo) }}"
            alt="{{ participant.pseudo }}"
        >
    {% endif %}

    <div>Prénom : {{ participant.firstName }}</div>
    <div>Nom : {{ participant.lastName }}</div>
    <div>Téléphone : {{ participant.phone }}</div>
    <div>Email : {{ participant.email }}</div>
    <div>Campus : {{ participant.campus.name}} </div>

{% endblock %}

