{% extends 'base.html.twig' %}
{% block title %} Mon profil {% endblock %}

{% block body %}



    <div class="ensembleModifP">
        <div class="imgModifP">
            <img src="{{ asset('img/photoParticipant/'~ participant.photo) }}"
                 alt="{{ participant.pseudo }}"
            >
        </div>
        <div class="textModifP">
            {{ form_start(participantForm) }}
            {{ form_widget(participantForm) }}



        <div class="bouton">
            <button>Enregistrer</button>


            {{ form_end(participantForm) }}

            <a href="{{ path('outing_list') }}">
                <button type="button">Annuler</button>
            </a>
        </div>
        </div>
    </div>



{% endblock %}



