{% extends 'base.html.twig' %}
{% block title %} Mon profil {% endblock %}

{% block body %}


    
    <div>

        <img src="{{ asset('img/photoParticipant/'~ participant.photo) }}"
        alt="{{ participant.pseudo }}"
        >
        
        {{ form_start(participantForm) }}

        {{ form_widget(participantForm) }}
    <div>
        <button>Enregistrer</button>


        {{ form_end(participantForm) }}

       <a href="{{ path('outing_list') }}"><button type="button">Annuler</button></a>
    </div>


    </div>

{% endblock %}



