{% extends 'base.html.twig' %}


{% block title %} {{ parent() }} | nouvelle sortie {% endblock %}

{% block pageTitle %}
    <h2>Créer une sortie</h2>
{% endblock %}

{% block body %}


    {{ form_start(outingForm) }}


    {{ form_widget(outingForm) }}
 {# <div>
    <button>Enregistrer</button>
    <button>Publier la sortie</button>
 #}

    {{ form_end(outingForm) }}
    <a class="btn" href="{{ path('place_add') }}">+</a>
    <a class="btn" href="{{ path('outing_list') }}">Annuler</a>
 {#   </div>     #}

{% endblock %}

