{% extends 'base.html.twig' %}


{% block title %} {{ parent() }} | nouvelle sortie {% endblock %}

{% block pageTitle %}
    <h2>Créer une sortie</h2>
{% endblock %}

{% block body %}


    {{ form_start(outingForm) }}


    {{ form_widget(outingForm) }}

    <script>
        const citySelect = document.getElementById('outing_city');
        const placeSelect = document.getElementById('outing_place');

        placeSelect.setAttribute("disabled", "true");

        citySelect.addEventListener('change', function () {

            let city = citySelect.value;

            placeSelect.innerText = '';

                    //appel asynchrone
                    fetch('{{ path('api_place_find_places', {'id' :' ~ city ~ '}) }}'
                        , {method: 'GET', body: JSON.stringify(city)})
                        .then(function (response) {
                            return response.json()
                        }).then(function (city) {
                        console.log(city)
              //          document.getElementById('nbLike').innerText =
                    })

        })

    </script>



    {{ form_end(outingForm) }}


{#<div>Lieu : {{ selectedPlace }} </div>#}
{#<div>Rue : {{selectedPlace.street }}</div>#}
{#<div>Code postal : {{selectedPlace.city.postalCode}} </div>#}
{#<div>Latitude : {{selectedPlace.latitude }}</div>#}
{#<div>Longitude :{{selectedPlace.longitude }}</div>#}

<a class="btn" href="{{ path('place_add') }}">+</a>
<a class="btn" href="{{ path('outing_list') }}">Annuler</a>



{% endblock %}

