{% extends 'base.html.twig' %}


{% block title %} {{ parent() }} | nouvelle sortie {% endblock %}

{% block pageTitle %}
    <h2>Créer une sortie</h2>
{% endblock %}

{% block body %}


    {{ form_start(outingForm) }}


    {{ form_widget(outingForm) }}



    {{ form_end(outingForm) }}

{#<div>Lieu : {{ selectedPlace }} </div>#}
{#<div>Rue : {{selectedPlace.street }}</div>#}
{#<div>Code postal : {{selectedPlace.city.postalCode}} </div>#}
{#<div>Latitude : {{selectedPlace.latitude }}</div>#}
{#<div>Longitude :{{selectedPlace.longitude }}</div>#}

<a class="btn" href="{{ path('place_add') }}">+</a>
<a class="btn" href="{{ path('outing_list') }}">Annuler</a>

{#    {% block javascripts %}#}
{#        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>#}
{#        <script>#}
{#            $('#appbundle_city_place').change(function () {#}
{#                var citySelector = $(this);#}

{#                // Request the places from the selected city.#}
{#                $.ajax({#}
{#                    url: "{{ path('city_list_places') }}",#}
{#                    type: "GET",#}
{#                    dataType: "JSON",#}
{#                    data: {#}
{#                        cityId: citySelector.val()#}
{#                    },#}
{#                    success: function (places) {#}
{#                        var placeSelect = $("#appbundle_city_place");#}

{#                        // Remove current options#}
{#                        placeSelect.html('');#}

{#                        // Empty value ...#}
{#                       placeSelect.append('<option value> Choisissez un lieu dans ' + citySelector.find("option:selected").text() + ' ...</option>');#}


{#                        $.each(place, function (key, place) {#}
{#                            placeSelect.append('<option value="' + place.id + '">' + place.name + '</option>');#}
{#                        });#}
{#                    },#}
{#                    error: function (err) {#}
{#                        alert("Une erreur est survenue lors du chargement des lieux");#}
{#                    }#}
{#                });#}
{#            });#}
{#        </script>#}
    {% endblock %}


{# #}{#   </div>     #}

{#{% endblock %}#}

