{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(filterForm) }}
    {{ form_widget(filterForm) }}
    <button>Rechercher</button>
    {{ form_end(filterForm) }}

    <table class="table table-striped scroll">
        <thead>
        <tr>
            <th scope="col">Nom de la sortie</th>
            <th scope="col">Date de la sortie</th>
            <th scope="col">Clôture</th>
            <th scope="col">Inscrits/places</th>
            <th scope="col">Etat</th>
            <th scope="col">Inscrit</th>
            <th scope="col">Organisateur</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>


        {% for outing in outings %}
            <tr scope="row">
                <td>{{ outing.title }}</td>
                <td>{{ outing.dateTimeStart | date('d/m/Y H:i') }}</td>
                <td>{{ outing.registrationLimitDate | date('d/m/Y') }}</td>
                <td>{{ outing.participants | length }}/{{ outing.nbParticipantsMax }}</td>
                {# on appelle les codes status enregistrés dans services.yaml #}
                <td>{{ statusCodes[outing.status.id -1] }}</td>
                <td>
                    {# si la liste des inscrits est vide ou si l'utilisateur n'est pas dedans #}
                    {% if outing.participants.empty or not (app.user in outing.participants) %}
                        NON
                    {% else %}
                        OUI
                    {% endif %}

                </td>
                {# si l'utilisateur a un pseudo #}
                {% if outing.planner.pseudo %}
                    <td>
                        <a href="{{ path('participant_show', {'id': outing.planner.id}) }}">{{ outing.planner.pseudo }}</a>
                    </td>
                {% else %}
                    <td>
                        <a href="{{ path('participant_show', {'id': outing.planner.id}) }}">
                            {{ outing.planner.firstName | capitalize }} {{ outing.planner.lastName | first | upper }}.
                        </a>
                    </td>
                {% endif %}
                <td>
                    {# si la sortie n'est pas en création ni archivée #}
                    {% if outing.status.id != 1 %}
                        <a href="{{ path('outing_show', {'id': outing.id}) }}">Afficher</a>
                    {% endif %}
                    {# si l'utilisateur est l'organisateur #}
                    {% if app.user.id == outing.planner.id %}
                        {# et si la sortie est en création #}
                        {% if outing.status.id == 1 %}
                            <a href="{{ path('outing_update', {'id': outing.id}) }}">Modifier</a>
                            <a href="">Publier</a>
                        {% endif %}
                        {# et si la sortie est en création ou ouverte ou fermée #}
                        {% if outing.status.id == 1 or outing.status.id == 2 or outing.status.id == 3 %}
                            <a href="{{ path('outing_cancel', {'id': outing.id}) }}">Annuler</a>
                        {% endif %}
                    {% endif %}

                    {# si la liste des participants n'est pas vide et l'utilisateur est inscrit #}
                    {% if not outing.participants.empty and app.user in outing.participants %}
                        {# si la sortie n'est pas commencée #}
                        {% if date(outing.dateTimeStart) > date() %}
                            <a href="{{ path('outing_desist', {'id':outing.id}) }}">Se désister</a>
                        {% endif %}
                        {# si l'utilisateur n'est pas inscrit et la sortie est ouverte #}
                    {% elseif not (app.user in outing.participants) and outing.status.id == statusCodes[1] %}
                        <a href="{{ path('outing_register', {'id': outing.id}) }}">S'inscrire</a>
                    {% endif %}


                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('outing_add') }}">
        <button>Créer une sortie</button>
    </a>
{% endblock %}

{% block title %}
    {{ parent() }} | Accueil
{% endblock %}

