{% extends 'base.html.twig' %}


{% block body %}

    <h1 class="DS">Détails de la sortie</h1>

    <div class="tab">
        <div class="partie1">
            <div>Nom de la sortie : {{ outing.title }}</div>
            <div>Date et heure de la sortie : {{ outing.dateTimeStart| date('d/m/Y H:i') }}</div>
            <div>Date limite d'inscription : {{ outing.registrationLimitDate| date('d/m/Y') }}</div>
            <div>Nombre de places : {{ outing.nbParticipantsMax }}</div>
            <div>Durée : {{ outing.duration }} minutes</div>
            <div>Description et infos : {{ outing.overview }}</div>
        </div>

        <div class="partie2">
            <div>Campus :{{ outing.plannerCampus.name }} </div>
            <div>Lieu : {{ outing.place.name }}</div>
            <div>Rue : {{ outing.place.street }}</div>
            <div>Code postal : {{ outing.place.city.postalCode }} </div>
            <div>Latitude : {{ outing.place.latitude }}</div>
            <div>Longitude :{{ outing.place.longitude }}</div>
        </div>
    </div>

    <div class="tableParticipants">
        <h5>Liste des participants inscrits :</h5>
        <table class="table table-striped scroll">

            <thead>
            <tr>
                <th scope="col">Pseudo</th>
                <th scope="col">Nom</th>
            </tr>
            </thead>

            <tbody>
            {% for participant in outing.participants %}
                <tr scope="row">
                    <td>{{ participant.pseudo }}</td>
                    <td>{{ participant.firstName }} {{ participant.lastName | upper }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}