<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        <link rel="icon" href="{{ asset('img/img.png') }}">
        <title>{% block title %}Sortir.com{% endblock %}</title>
    </head>
    <body>

    {% block pageTitle %}{% endblock %}

        <div class="container">
            <header>
                <h1>
                    <a href="{{ path('main_home') }}">
                        <img src="{{ asset('img/img.png') }}" alt="Sortir | Home">
                    </a>
                </h1>
                {% include 'menu/nav.html.twig' %}
            </header>


            <main>
                {% block body %}{% endblock %}
            </main>

            <footer>
                <h4>&copy; Par ici la Sortie {{ date() | date('Y') }}</h4>
            </footer>
        </div>
    </body>
</html>
